body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header{
  background-color: #fff;
  color: #fff;
  padding: 20px;
  text-align: center;

}

h1 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
  line-height: 1.6;
}

footer p{
  display: flex;
  justify-content: center;
}

img{
  border-radius: 10px;
  border: 4px solid blue;
}



